@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  color: white;
}

#bgVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  filter: brightness(45%);
}
.container {
  background: rgba(20, 20, 20, 0.65);
  backdrop-filter: blur(12px);
  padding: 35px;
  border-radius: 16px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
}


h1 {
  margin: 0 0 8px;
  color: #4CAF50;
}

p {
  margin: 0 0 24px;
  color: #bdbdbd;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#qrText {
  padding: 20px;
  border-radius: 8px;
  background: #2c2c2c;
  border: none;
  color: white;
}

button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  background: #4CAF50;
  color: white;
  transition: 0.25s;
}

button:hover {
  background: #43a047;
}

#downloadBtn {
  background: #008CBA;
  padding: 10px;
  
}

#downloadBtn:hover {
  background: #0077a3;
}


#pdfBtn {
  background: #d35400;
  padding: 10px;
}

#pdfBtn:hover {
  background: #b84300;
}

#qr-container {
  margin-top: 25px;
}

#qrImage {
  width: 220px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: none;
}

.hidden {
  display: none;
  
}

#qrCodeBox img,
#qrCodeBox canvas {
  display: none !important;
}
